[submodule "dusk/vendor/glm"]
	path = dusk/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "dusk/vendor/glfw"]
	path = dusk/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dusk/vendor/stb"]
	path = dusk/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "dusk/vendor/entt"]
	path = dusk/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "dusk/vendor/spdlog"]
	path = dusk/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dusk/vendor/imgui-docking"]
	path = dusk/vendor/imgui-docking
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "dusk/vendor/tinygltf"]
	path = dusk/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "dusk/vendor/vulkan-headers"]
	path = dusk/vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "dusk/vendor/volk"]
	path = dusk/vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "dusk/vendor/vma"]
	path = dusk/vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "dusk/vendor/excalibur-hash"]
	path = dusk/vendor/excalibur-hash
	url = https://github.com/SergeyMakeev/ExcaliburHash.git
[submodule "dusk/vendor/assimp"]
	path = dusk/vendor/assimp
	url = https://github.com/assimp/assimp.git
